[2015-02-22 23:15] lukemelia opened #1 "[DOC] Explain how event handling works on island components"
Does event delegation work? What is the `parentView` of the island-rendered components?

Mostly curious how robust of a solution this addon is.

[2015-02-24 14:24] mitchlloyd commented on #1
@lukemelia I suspect that Ember is still taking ownership of the body tag on the page. It gets the class "ember-application".

I expanded the dummy app in the test folder of this project to include a component nested in another. You can see that click events on buttons are working.

The `parentView` of a top level component is `undefined`. Obviously you can't access elements outside of a top level

[2015-02-26 04:03] lukemelia commented on #1
@mitchlloyd I don't have time to review before Ember Conf, but you should keep in mind that Ember attaches event delegation at an app's `rootElement`. This defaults to `body` as you were describing, but can be overridden to be another element. This may be worth noting in your docs.

[2015-02-26 17:19] mitchlloyd commented on #1
Fixed by 986e6b37067f8069e2d7f43440cca257d9788883. I look forward to seeing your talk at EmberConf.

[2015-02-26 17:19] #1 closed

[2015-02-26 19:50] lukemelia commented on #1
:+1: See you in Portland!

[2015-03-17 13:00] himynameisjonas opened #3 "Possible to use without removing application.hbs"
Is it possible to use the ember app as a whole app (with the application.hbs) and at the same time use it with ember-island on other parts on our website? We have started implementing some new parts of our website as a ember app (with ember-cli-rails) but want to share some new components with the old rails app views.

[2015-03-17 17:45] mitchlloyd commented on #3
That sounds like a cool use case. I just looked around for a little trying to find a good way to do this. Could you tell me what version of Ember you're using? It looks like newer versions might have more options to accomplish this.

Something that will work across all 1.x versions is overriding your Application route so that it renders nothing:

[code]

However that is a little sad. Let me know w

[2015-03-17 17:50] acorncom commented on #3
I'd love to hear the outcome of this as well, as I can see clear use cases for this coming up for my clients in the future.  Nothing on the horizon yet, but it'd be awesome to know how :-)

[2015-03-17 19:17] himynameisjonas commented on #3
I'm using `1.10.0` :)

[2015-03-17 19:19] mitchlloyd commented on #3
@acorncom For Canary versions of Ember today with FastBoot (TM) integration, there is an option to set `{ autoboot: false }` for your app to prevent the initial render. This seems like a good option for your future clients.

For now I'll continue to investigate ways this library can help.

[2015-03-18 14:51] mitchlloyd commented on #3
@himynameisjonas I just pushed a branch that stops the Router from doing anything when the application boots:

https://github.com/mitchlloyd/ember-islands/tree/cancel-routing

This means that you no longer need to remove your application.hbs file.

I'm assuming that you would want to have some configuration to turn ember-islands on and off. You would want it "on" in your legacy Rails application,

[2015-03-18 20:27] himynameisjonas commented on #3
Yeah, your assumptions are correct. the `window.EmberENV = { USER_EMBER_ISLANDS: true }` sounds like a really nice way of controlling this. Awesome! :)

[2015-03-20 19:57] mitchlloyd commented on #3
Closing in favor of PR #4.

[2015-03-20 19:57] #3 closed

[2015-04-11 00:13] sidfarkus opened #6 "Allow top-level components to yield to template blocks"
Components that use the `{{yield}}` helper in their template should be able to specify a template to evaluate in the yield block.

If possible it would be interesting to change the component div to a script tag that could take HTMLBars embedded directly with the component similar to a standard Ember app.  `ember-islands` could prepend the component div and wire up the template automatically.

This

[2015-04-11 17:37] mitchlloyd commented on #6
I think using HTMLBars templates inside of script tags would be possible and could be pretty nice. However, that's a pretty large conceptual change from the original idea of this library.  In short, that idea is that you can create a thin bridge between your server code and client code by passing the name of a component and all of the data that component needs to render. Having dynamic templates o

[2015-04-13 15:00] sidfarkus commented on #6
We'd like to be able to write code that is as close as possible to our existing server-side templates.  For example we have a `ModalBuilder` that helps us build a modal dialog:

[code]
We'd like to keep the inner markup in the same Rails view but replace the server-side helper with an Ember component.  I'm open to suggestions as to workarounds but we don't love the idea of splitting our (page spec

[2015-04-13 16:29] mitchlloyd commented on #6
Ok, that's the case I was hoping for. One thing you could do is modify your Rails helper to jam all that built markup into the `data-attrs` attribute so that it gets to your component. I'm not sure how to do that with your builder syntax, but it seems like it should be possible using `capture`.

As far as better solution with ember-islands, what do you think of extracting the innerHTML of the stat

[2015-04-14 19:47] sidfarkus commented on #6
That looks like exactly what we'd need for most of our functionality.

[2015-04-15 11:19] mitchlloyd commented on #6
I just pushed this feature to master. Would you mind trying it out there before I make a release for it?

[2015-04-17 13:14] mitchlloyd commented on #6
@sidfarkus Did you have a chance to check this out yet?

[2015-04-17 20:40] sidfarkus commented on #6
@mitchlloyd Sorry, I've been tied up with some other things; I'll give it a run this weekend and let you know if it looks good.  Thanks again for the great gem!

[2015-04-26 19:43] TeknoFiend commented on #6
Just tried this out and it worked great for a test component.  Thanks @mitchlloyd !

[2015-05-21 23:11] #6 closed

[2015-05-22 20:35] praxxis opened #7 "Only the last declared component is rendered in Ember 1.13-beta.1"
See https://github.com/praxxis/islands-test for a reproduction repo.

[code]
renders thusly:

In 1.13:
![one](https://dl.dropboxusercontent.com/u/106084/screenshots/sU4W.png)

In 1.12 (working):
![two](https://dl.dropboxusercontent.com/u/106084/screenshots/NCkn.png)

[2015-05-23 17:30] mitchlloyd commented on #7
It looks like I'm the only person on earth who has tried to use `view#replaceIn` because it's broken again. I'm just going to stick with `view#appendTo` because it's used everywhere in the Ember tests. Let me know if you agree that the latest master changes fix this issue.

[2015-05-26 13:54] praxxis commented on #7
Works for me on master, cheers

[2015-05-27 12:19] mitchlloyd commented on #7
Released version 0.5.1 with this fix.

[2015-05-27 12:19] #7 closed

[2015-06-12 22:22] praxxis opened #8 "Initalizer error in 2.0.0-canary+e6517064"
Trying to run Ember with ember-islands in canary is throwing the following error:
[code]

Seems to be related to `registerComponentLookup` changing from an `initializer` [in 1.13](https://github.com/emberjs/ember.js/blob/v1.13.0-beta.2/packages/ember-htmlbars/lib/system/bootstrap.js#L98) to an `instanceInitializer` [in canary](https://github.com/emberjs/ember.js/blob/4d97d612ebe0841c0d40e57b276c9b

[2015-06-12 22:27] praxxis commented on #8
Changed in Ember at https://github.com/emberjs/ember.js/commit/2a726161dd80b3cfd5172922106037bbcc3e4d68

[2015-06-12 22:48] praxxis commented on #8
So simply switching to an `instance-initializer` doesn't work 100% as we no longer have the application instance to check for `EMBER_ISLANDS.bypass`.

[2015-06-15 02:08] mitchlloyd commented on #8
Thanks for reporting and tracking down the issue with `registerComponentLookup`.

Just looking at the documentation for instance initializers it sounds like this is prefect for Ember Islands, which only used the application and not the registry. But you're saying that if we use an `instance-initializer` for `boot-ember-islands` we can't get access to the `EMBER_ISLANDS.bypass` flag?

Is there some

[2015-06-15 22:08] praxxis commented on #8
Ugh that commit went into 1.13 final. I'll make some time to look at this tomorrow.

[2015-06-19 18:20] praxxis commented on #8
fixed in https://github.com/mitchlloyd/ember-islands/pull/9

[2015-06-25 16:05] #8 closed

[2015-10-13 16:00] taras opened #11 "Introduction to ember-islands lightning talk at a future Global Ember Meetup"
Would you be open to giving an Introduction to `ember-islands` talk about a future Global Ember Meetup?

The talk is usually 15 minutes long and answers the following questions:

1. What problem is the addon trying to solve?
2. How to get started?
3. How should it be used?
4. What should person be aware of?

We'll produce a video that you can link to in your README. You can see existing videos her

[2015-10-13 16:13] mitchlloyd commented on #11
Hey Taras,

Not sure if you remember but we met very briefly at a breakfast spot at
last EmberConf. I really like what you've been doing with the Global Meetup.

Yes! I would like to give a talk. Those questions are a good start, and
there is actually some pretty interesting stuff with the Ember public
`visit` API (probably coming in 2.3) that will make the next version of
this addon much simpler

[2015-10-13 16:18] taras commented on #11
That’s awesome and thank you for the kind world. The community’s openness to contributing is what makes it awesome.

I hear you about Ember 2.3 visit API. Would you prefer to hold off the recoding until then?

-- 
Taras Mankovski

On October 13, 2015 at 12:13:55 PM, Mitch Lloyd (notifications@github.com) wrote:

Hey Taras,

Not sure if you remember but we met very briefly at a breakfast spot at
la

[2015-11-22 02:52] mitchlloyd opened #14 "Next Version of Ember Islands"
This addon works today, but as Ember and its ecosystem improve we have a chance to simplify this approach and even add some new features to further this project's goal.

That goal is to make Ember a viable framework in a server-rendered application. The hope is that users would introduce Ember into a small part of their application and then slowly refactor to a client-rendered app where Ember real

[2015-11-23 20:32] praxxis commented on #14
Losing shared services would likely be a non-starter for us. There are a couple of places where we have existing client side routing, and thus can't really use Ember routing. Shared services let us coordinate between multiple components on a page in the absence of the router.

:+1:

:+1:

I'm not sure where I stand on this one yet. In your example where would `isInServerRenderedApp` be defined? Is

[2015-11-24 22:44] mitchlloyd commented on #14
The idea behind using a component over an initializer is to give users control over rendering the components (when to do it / whether to do it) and make rending a little more idiomatic. Currently there are instructions about using a `bypass` flag to avoid rendering in the readme -- we could remove this configuration. The entire `cancelRouting` hack was introduced to handle a use case where someone

[2015-11-26 03:46] mitchlloyd commented on #11
@taras I've got the next version of Ember Islands finalized (as far as I know right now). I'll be waiting on the Ember 2.3 release for 1.0 so any time near the end of December or later would work great. Could you fit me in around that time?

[2015-11-26 15:14] taras commented on #11
I'm thinking sometime in January. What do you think?

[2015-11-27 04:26] mitchlloyd commented on #11
That would be great.

[2015-11-30 15:39] praxxis commented on #14
Thanks, that makes it much clearer. FWIW our use case (progressively enhancing a Rails app) only has the one environment, and we control whether Islands is on during application creation, which is manually done. But we could still achieve the same control with the component based initialization.

[2015-11-30 15:41] praxxis opened #16 "Interim 0.5.5 release"
I know we're pushing for 1.0 but would you be able to push up a 0.5.5 release @mitchlloyd.

[2015-12-07 00:26] mitchlloyd commented on #16
So the commit history is a little botched, but the 0.5.4 version should be up-to-date with current master.

[2015-12-07 00:29] #16 closed

[2015-12-07 00:36] mitchlloyd commented on #14
Could you expand a little on what you're doing here and why you're doing it? If I understand what you're doing I should be able to write the "Bypassing the Addon" section of the README. I also want to know if you're using workarounds that the library could handle.

[2015-12-07 00:38] mitchlloyd commented on #16
I'm realizing that it's probably better to release a version 0.5.5 and yank 0.5.4 since the commit history is so confusing.

[2015-12-07 16:44] praxxis commented on #14
Sure. We have a combination of Ember enabled pages at the moment - 'island' pages, which have one or two components, enabled by ember-islands; and 'continent' pages, which are full Ember apps (routing and all), albeit apps contained within the Rails generated header and footer. For example, https://kickstarter.com/team is a continent app.

To facilitate this we have a simple Rails helper for inclu

[2015-12-08 03:20] mitchlloyd commented on #14
I think this new approach may open up some nice options.

We could drop the Ember Islands config flag in the Rails helper:

[code]

Then let's say that your `/dashboard` page needs to use Ember Islands.  Inside of your Ember app you could have a `dashboard.hbs` template like this:

[code]

Now we'll say the `/team` page doesn't need Ember Islands.  You could have a `team` route and `team` template

[2015-12-11 16:26] praxxis commented on #14
Yea, I don't mind that. At the start of this process I figured island components would just kind of... exist, without being used in the rest of the Ember app. But grouping them under routes from the start lights a path towards actually migrating each page that has an island, by already having its URL in Ember.

Lemme find some time to give it a try and get back to you.

[2015-12-15 01:33] taras commented on #11
@mitchlloyd how does January 16th or January 30th sound?

[2015-12-15 16:50] mitchlloyd commented on #11
16th would probably be a little better, but both would work.

[2015-12-15 16:51] taras commented on #11
16th it is :) Consider it booked. Look forward to it!

[2015-12-15 16:54] #11 closed

[2015-12-18 23:54] gandalfar opened #17 "[DOC] Document how to call ember model"
README form next-version already makes it much easier to get started with the project. I would suggest adding a section with example how to call model from the component. Something like:

## Models

To access your model from the component, you can inject `store` into the component.

[code]

[code]

[2015-12-21 17:42] mitchlloyd commented on #17
@gandalfar I'm glad the new readme is an improvement! I'm already a little concerned about the length of the readme so I'm wary of adding a section specifically for this. It might make more sense to expand the current usage example to show using the Ember data store. I've got at least one more iteration to do on the readme to update the recommended "default" approach so I'll keep this in mind.

[2015-12-23 19:06] #17 closed

[2016-01-15 19:40] #14 closed

[2016-02-08 20:24] dguettler opened #19 "Template rendering with pod structure"
When trying to use pod structure component templates are rendered empty.
The component is looked up correctly within ember-island, but the template seems to be missing.
I confirmed that the same component renders correctly when served via `ember serve` and included directly in the `application.hbs` template.

[2016-02-08 22:12] mitchlloyd commented on #19
I'm suspicious that Ember's `componentLookup` may not be resolving these templates. Need to investigate how component lookup works in an Ember CLI app using PODs.

[2016-02-09 02:35] mitchlloyd commented on #19
I couldn't reproduce with with Ember `~2.1.0` and `~2.3.0` and I couldn't. Is it possible you're using a more bleeding edge Ember? If so, I'm a little wary of making changes for unreleased Ember versions... especially for features like pods that are still undergoing lots of churn.

Otherwise, let me know what Ember version you're using. If you have a public repo to reproduce that would be even bet

[2016-02-09 03:41] mitchlloyd commented on #19
@dguettler and I were able to debug over Slack. For now the `componentLookup` technique remains strong, it appears to be working with POD organizations in Ember 2.3.x.

[2016-02-09 03:41] #19 closed

[2016-03-08 07:40] davidpike7 opened #20 "Send action to route"
I'm including a component like so:
[code]

I'd like to bubble an action from this component up to the route. What's the best way of accomplishing this?

[2016-03-08 16:21] mitchlloyd commented on #20
I consider "bubbling actions to routes" legacy Ember behavior because it does not work with closure actions. [There are some workaround solutions](https://github.com/DockYard/ember-route-action-helper), but in general it's not something I've done in a while.

So then how do you send an action to a controller? Well here again, controllers are a vestige of the past. Surely we're less than 8 months a

[2016-03-08 20:46] davidpike7 commented on #20
We've got an existing ember application (1.13.*) that I'm trying to incorporate in a CMS website to utilise some of the components and functionality. We've got several form modals which (I think) would be a perfect candidate for ember islands.

The application was written a while ago and so is a bit legacy-esque in its approach for opening the modals.

Currently we do the following:

Trigger `open

[2016-03-08 20:58] mitchlloyd commented on #20
Yeah I was looking at the guides and noticing that they [don't talk about sending actions to routes](https://guides.emberjs.com/v2.4.0/templates/actions/).

I think [ember-route-action-helper](https://github.com/DockYard/ember-route-action-helper) is going to work for you. If that doesn't work, probably the best thing to do would be to create a service to interface with your application route to c

[2016-03-10 04:21] davidpike7 commented on #20
Thanks for the help.

I've gone with using a service to interface with the application route and its working great. All very seamlessly.

Ember Islands is great!

[2016-03-10 07:15] mitchlloyd commented on #20
Ember Islands, clawing its way back to the top!

[2016-03-10 07:15] #20 closed

[2016-04-12 20:02] mtermoul opened #21 "[Question] using ember-islands in a non cli project"
Hello,
I have a Django application, and I included ember libs to be able to use ember feature. So far I was able to manage by inserting ember app inside existing:
`<div id="ember-content">`

using the rootElement as:

[code]
So my problem is that I want to place ember components on existing server elements, and I was wondering how to use ember-islands in a non cli project.

Currently I have index.

[2016-04-13 01:59] mitchlloyd commented on #21
_Disclaimer: This library is designed to work with Ember CLI and not the globals-based Ember applications. This is because Ember CLI is one of the most compelling parts of the Ember ecosystem and the globals approach gets very little attention._

All that being said, I think this should work.

First off, `autoinit` is a relic of the past as far as I can tell. There is an `autoboot` option, but you

[2016-04-15 15:39] mtermoul commented on #21
Thanks for the reply Mitch.
I have created a sample app to illustrate my issue.

https://github.com/mtermoul/django-ember-app

As you can examine, this is Django app. the base.html template has all the js files for jquery, bootstrap, and ember. The app.js is the main application file for ember app, controllers, routers, components....
The home.html is the default index page, which I defined the ha

[2016-04-20 04:39] mitchlloyd commented on #21
Ok, ran through the install instructions but I'm not very familiar with Python setups and I may be missing some software. However, the issue seems apparent: you're rendering your Ember app inside of `#ember-content` and your page-footer is rendered outside of the Ember application.

The reason you're seeing this issue:

Is because of what I described above:

I'm not sure exactly what you're trying

[2016-06-03 20:55] mitchlloyd commented on #21
Closing this issue for now. Let me know if there is anything else I can help with.

[2016-06-03 20:55] #21 closed

[2016-07-27 06:17] chinthakagodawita opened #23 "Ember 2.7 support"
When trying to run this with a brand new Ember (CLI) 2.7 project, I get the following error:

[code]

Downgrading to 2.6 (via `bower.json` but still keeping `ember-cli` at 2.7) seems to fix it.

Full error:

![error](https://cloud.githubusercontent.com/assets/1452384/17165678/6f47a5ac-5415-11e6-82ce-4ac2dbe6824e.png)

[2016-07-28 04:23] mitchlloyd commented on #23
Thanks for opening. I created a PR to support the new 2.7 release here: https://github.com/mitchlloyd/ember-islands/pull/24.

[2016-07-30 01:25] mitchlloyd commented on #23
At fixed version has been published as 1.0.1.

[2016-07-30 01:25] #23 closed

[2016-08-02 01:22] chinthakagodawita commented on #23
Brilliant, thanks!

[2016-08-02 12:02] Turbo87 opened #25 "Using components that only have a template"
I am using a few components that only have a template file, but no attached JS. Prior to Ember 2.7 and Ember Islands 1.0.1 this used to work fine, but now I'm getting errors like this:

[code]

[2016-08-03 01:34] mitchlloyd commented on #25
Thanks for reporting! Do you mind checking this PR to make sure it solves your issue? You can use the branch name "half-components".

https://github.com/mitchlloyd/ember-islands/pull/26

[2016-08-03 08:53] Turbo87 commented on #25
@mitchlloyd that seems to work fine, thanks!

[2016-08-04 01:26] mitchlloyd commented on #25
Fix released as 1.0.2.

[2016-08-04 01:26] #25 closed

[2016-08-20 04:56] rohmann commented on #7
@mitchlloyd Not the most ideal, but I really needed to get rid of that wrapping div. Unwrapping it with jQuery did the trick.

https://github.com/mitchlloyd/ember-islands/blob/master/addon/components/ember-islands.js#L50

[code]

[2016-08-21 20:58] mitchlloyd commented on #7
@rohmann I always thought keeping the wrapping div around was nice, but maybe there is a need to remove it sometimes? Can you tell me about your use case?

Also keep in mind that if it is an issue with the `display: block` default of `div`s, then `span` or any tag will do.

[2016-08-30 19:29] alexmiddeleer opened #27 "Migration guide for moving from islands 0.5.* to 1.*?"
It would be pretty sweet if you distilled a bit of the conversation from https://github.com/mitchlloyd/ember-islands/issues/14 into version 1's README file. I'm currently upgrading our islands setup, and as a programmer new to ember it has been a bit tricky so far :)

I will give it a shot and if I am successful and think there is a straightforward "upgrade path", I'll post notes here or make a pu

[2016-08-30 22:06] mitchlloyd commented on #27
Sure! I think the trickiest thing is migrating from a world where you didn't need to render a route at all (pre 1.x) to a world where rendering a template is the entry point to begin rendering island components. In other words, 1.x will render your application template and application route whereas 0.x did not.

Honestly, this can be a non-trivial hump to get over in an application that has a lot

[2016-09-02 16:11] mitchlloyd opened #30 "Fasboot Compatibility"
Right now ember-islands will throw an error when rendered with Fastboot. Per https://github.com/mitchlloyd/ember-islands/pull/28, there could be some interesting use cases with Fastboot and ember-islands, but I'm not sure what those are yet and what patterns would be most helpful. For starters, should this library render nothing when not in the browser or should it try to render something?

[2016-09-09 14:03] RALifeCoach opened #31 "Need More Documentation for an Ember Newbie"
Your documentation assumes some Ember knowledge. For someone coming to Ember from a legacy code base, that may be a false assumption. (In my case it is certainly a false assumption.) Can you create a step by step example for a newbie?

[2016-10-01 15:26] locks commented on #31
Hi @RALifeCoach, would you be willing to go on the Ember Slack group to discuss this? Given that this is an Ember addon, I'm not sure how the documentation would address that, or how much return that investment would bring.
Have you given the [offical Guides](https://guides.emberjs.com/) a run-through? We offer a tutorial that might help you get started.

[2016-10-01 15:36] RALifeCoach commented on #31
If my company was willing to pay you, are you available? How much would you
want to get me up and running?

On Oct 1, 2016 11:26 AM, "Ricardo Mendes" <notifications@github.com> wrote:

[2016-10-01 18:33] mitchlloyd commented on #31
I agree with @RALifeCoach that the README could point new Ember developers in the right direction given that this addon might the first point of contact for a new Ember developer. However, as @locks pointed out, the best information for getting started with Ember is the Guides so I don't want to duplicate (and then maintain) that information here.

I'll add a sentence or linking to the [Ember Guid

[2016-10-01 18:33] #31 closed

[2016-11-01 12:53] hiimtaylorjones opened #32 "Vague Implementation in Rails"
Hey there,

I'm attempting to integrate Ember Islands with an existing Rails application that's potentially using Ember-Cli-Rails for Ember distribution. Could you provide some more insight on what the best way to leverage Ember Islands to do this? I'm having trouble finding a way to best implement this currently.

I'd love to use the ensuing conversation to add to the current documentation. Maybe

[2016-11-01 16:10] mitchlloyd commented on #32
It looks like the ember-cli-rails gem/addons has a lot of documentation and structure around integrating and deploying an Ember app with Rails. However it doesn't look like you'll just be able to use the `mount_ember_app` route method in your Rails rendered pages since you don't control that template.

Perhaps using this template as an example you could load your Ember app onto an existing page? h

[2016-12-09 09:42] jonasbuechel opened #34 "[Question] How to handle special-chars like single-quote?"
Is there an existing way to handle special chars like the single-quote?
If I put "Sally's User" into your example, the data-attrs string is broken.
Possible solution by backend is to encode the whole string. Is there a hook available in your extension to get in and decode the string?

A possible solution is to react on each component by 'didReceiveAttrs' hook ant put this action into a mixin. Or i

[2016-12-09 19:05] mitchlloyd commented on #34
Wow great question. This is definitely something that needs to be documented _and_ the current docs in the README are misleading.

In this exact case, you can HTML escape the single quote, assuming that the point of having this string is to put it into HTML.

[code]

Of course the onus is then on you to create some helper on your server to html escape the values of each key that might contain a si

[2016-12-14 03:04] mitchlloyd commented on #34
Closed via: https://github.com/mitchlloyd/ember-islands/commit/2c95504c76abec9ad5cc5de9ad23e80f632d1998

[2016-12-14 03:04] #34 closed

[2016-12-14 03:06] mitchlloyd commented on #32
Not sure if you were able to find a good way to do this, but if I remember correctly I don't think this was an Ember Islands issue per se. Let me know if I should reopen.

[2016-12-14 03:06] #32 closed

[2016-12-14 03:10] mitchlloyd commented on #27
I would be interested in feedback about the 0.5 to 1.0 upgrade path if you have any. For now I'll close this issue but let me know if there's anything you found that may be useful for other users.

[2016-12-14 03:10] #27 closed

[2016-12-22 15:32] jonasbuechel commented on #34
Thanks a lot! It works perfectly with html-escaped strings.

[2017-02-07 13:31] patric-eberle opened #36 "Ember.assert not available in production"
In our project, we're using Ember with ember-islands to partially show content on a pre-rendered page. The island divs are delivered by the pre-render engine as well. We had the issue, that the `data-component` attribute sometimes contained an invalid or not yet implemented component name. This caused the following method to crash (on `component.create(attrs)`):

[code]

I think this is caused, be

[2017-02-08 17:18] mitchlloyd commented on #36
Thanks for filing this issue.

I agree that it makes sense for Ember Islands to be as resilient as possible in a production environment, since it's often hard to keep the backend and frontend perfectly in sync.

Could you open a PR and show me what kind of error handling you are thinking of?

Perhaps we can use the fact that `Ember.assert` is a no-op in production mode and add a guard after the as

[2017-02-08 19:17] rwjblue commented on #36
Ember.assert is present in prod builds, the documentation is describing that in production it is a no op (e.g. It never actually throws).

[2017-02-13 08:02] patric-eberle commented on #36
Any suggestions how to determine if Ember.assert() is NOP or active? I'm not sure if the current environment can be used because we don't know the setup of the project.

[2017-02-13 13:42] rwjblue commented on #36
[code]

[2017-02-13 13:43] rwjblue commented on #36
^ is just one way, though I agree that Ember should make this simpler...

[2017-02-13 16:29] mitchlloyd commented on #36
In this particular case adding another guard after the `assert` should work. @patric-eberle I'm curious what you think the best behavior would be when we reach that guard.

[code]

[2017-02-14 07:41] patric-eberle commented on #36
@rwjblue Thank you for this smart solution. I guess this should work. But I'm with you: may it could be useful if assert would return true/false in production.

@mitchlloyd I guess you're right. If assert is active and throws an error, parser wouldn't even reach the second evaluation. I guess using a console.warn and a HTML output together would be the best solution. Users often don't take a look

[2017-02-19 06:06] ClayShentrup opened #38 "Example of setting up in a Rails app"
I'm sorry if this isn't the best way of adding a feature request. I loved your talk and the readme on this project looks great. I just can't get it working on a legacy Rails app. I'm including the vendor and application files but no luck. Thanks.

[2017-02-19 20:00] mitchlloyd commented on #38
@ClayShentrup Sorry to hear that you're having trouble. Recently someone Tweeted an article to me that might help with your Rails setup: https://labs.kollegorna.se/blog/2017/01/rendering-ember-components-from-rails/.

Closing this issue since setting up JavaScript assets on people's backend is beyond the scope of this project.

[2017-02-19 20:00] #38 closed

[2017-02-25 19:12] #36 closed

[2017-02-25 20:48] mitchlloyd opened #39 "Test failes on Ember Canary"
[This assertion](https://github.com/mitchlloyd/ember-islands/blob/f498855ba6191c68ef73237dcc9a5fca14c2e59d/tests/integration/components/ember-islands-test.js#L89-L93) fails on Ember Canary, throwing the error:

[code]

So clearly the code is working, but the assertion just isn't catching the error.

[2017-04-12 10:55] jonasbuechel opened #40 "JS execution stops if unknown component is called"
**Use case**:

The backend programmer prepares a ember-island integration like this:

`<div data-component='user-profile' data-attrs='{...}'></div>`

but the builded JavaScript doesn't contain a component 'user-profile' yet.

**Error**:
JavaScript Execution stops

**Enhancement**
Would be a good idea to integrate an error handler for this case, which prevents the JS Execution stop.

[2017-04-12 23:57] mitchlloyd commented on #40
@jonasbuechel I believe we attempted to solve this same problem with this PR: https://github.com/mitchlloyd/ember-islands/pull/37. Are you using version 1.2.0?

[2017-04-19 20:30] sigmer opened #41 "Dynamically adding component"
I'm just getting started with ember and I've successfully added some ember components to my server-rendered app using ember islands!  But now I have a case where a fragment of html is fetched asynchronously from the server and added to the page.  In that html I'd like to define an ember island component.  Of course it does not render when inserted into the dom where ember has already booted.  Any

[2017-04-19 21:18] blimmer opened #42 "The Future of this Addon + Glimmer.js"
Since Glimmer.js provides the ability to render web-component compatible / ember-y components in server-rendered apps, does that change what this project is trying to accomplish in the future?

[2017-04-20 02:36] sigmer commented on #41
I guess this was more of a general ember question.  I did it by resetting the app with Ember.Application.reset() when new components are dynamically added.  Probably not the best thing to do.

[2017-04-21 01:45] mitchlloyd commented on #42
As of today Glimmer has no bearing on this addon or its direction. This addon isn't compatible with Glimmer and Glimmer users have no need for this addon. However, Glimmer's web-component build doesn't work with Ember components but this addon does.

Ultimately I made this plugin because Ember does not expose primitives that let users render components in isolation as React, Vue, and most other Ja

[2017-04-21 01:58] mitchlloyd commented on #40
@jonasbuechel Let me know if this is still an issue with 1.2.0.

[2017-04-21 01:58] #40 closed

[2017-04-21 02:05] mitchlloyd commented on #41
That's an interesting solution. It might be a little heavy since it clears out all the objects that Ember has, but in this case that might not be much.

Someone else asked this same question recently (maybe it was you!), so I'm wondering if we should come up with a better solution. The first thing that comes to mind is exposing some global function `EmberIslands.rerender()` that would check the li

[2017-04-21 02:20] mitchlloyd commented on #39
Related Ember issue: https://github.com/emberjs/ember.js/issues/15013

[2017-04-21 03:07] jadtelstar commented on #41
Mitch, I asked the same question and thanks for your response. Look forward to your solution for it.

[2017-04-23 01:00] blimmer commented on #42
Thanks for the info, I was genuinely curious if (and how) the announcement of glimmer changed any ideas about how this addon might change. When I first looked into ember-islands, it was because I needed some moderately-complex web-components, but none of the other features of Ember. It seems like glimmer is a good replacement for that specific use-case, but you're right that this addon provides a

[2017-04-23 01:00] #42 closed

[2017-04-24 13:40] sigmer commented on #41
A global function that handles removed/added island elements would be very useful in this situation.  I think it's better than resetting the ember application.  Thanks!

Your addon is a great bridge to introduce ember in a large, server rendered app.

[2017-05-02 15:03] jeanleonino opened #43 "Just a thumbs up for the Avatar reference"
🥇

[2017-05-02 15:03] #43 closed

[2017-05-04 16:58] mitchlloyd commented on #43
Ha! I actually created this project before I ever saw Avatar, but I'll take it :)

[2017-05-15 23:40] adambedford commented on #41
I'd also love to see something like this! I'm loading remote modal content and I'd like to be able to have an ember component rendered in the modal

[2017-05-16 17:21] mitchlloyd commented on #41
Note to self or someone else wanting to tackle this:

This can probably be accomplished while still adhering to the public API of Ember's components.

1. Add an option to install and remove a global reference to the component on `init` and `destroy`. It might even make sense to leave this up to users and add documentation. Users can then call the public `rerender` method on the component.

2. In t

[2017-06-02 20:54] adambedford opened #44 "Shared nav between ember / non-ember, ember-ified nav links?"
I haven't made it this far implementing ember-islands so this is a pre-emptive question -

I assume that when rendering the ember app in a sub-container with a shared nav for ember / non-ember features, the nav links wouldn't be able to be "ember-ified" i.e. Clicking the link would cause a full page reload, and then load the ember app vs. transitioning to the route. Am I right in thinking this? Is

[2017-06-04 02:49] mitchlloyd commented on #44
Here are a couple of options that should work if you don't want a full page refresh when you click these links.

1. Make the links in the shared header Ember Islands components that use `link-to`.

The main issue you'll run into here is that the statically rendered stuff is going to appear before Ember boots. The most practical thing may be to put static link content inside of the placeholder `div

[2017-06-06 01:12] adambedford commented on #44
Thank you, Mitch. That is helpful. Option 1 certainly seems like the way to go!

[2017-06-08 15:34] mitchlloyd commented on #44
Cool. Closing for now, let me know if something doesn't work out.

[2017-06-08 15:34] #44 closed

[2017-06-22 04:23] acorncom opened #45 "_lookupFactory deprecation warnings logged in Ember 2.12"
I'm seeing the following deprecation messages logged twice in a client app using the latest version of `ember-islands`:

[code]

From what I can see, it looks like the issue is in these lines:
https://github.com/mitchlloyd/ember-islands/blob/master/addon/components/ember-islands.js#L77-L83

A simple replacement of the offending code (per the deprecation guides) with the following:
[code]

then thr

[2017-06-22 18:19] acorncom commented on #41
I'm interested in this as well 😀

[2017-06-26 03:14] mitchlloyd commented on #41
Took a shot at this tonight. The implementation in Ember Islands simple, but there is an issue with how Ember handle's destroying root components that currently makes this infeasible.

As of [this commit](https://github.com/emberjs/ember.js/commit/779135f4f3573ef2c2198398b3337d099f1454e4#diff-81a6bd748241dc482155a442e12bc32eL245) Ember does not remove root elements from the renderer when they are

[2017-08-14 03:05] mitchlloyd commented on #41
You can try out the new "rerendering" branch by adding this to your package.json:

[code]

Then inside of an initializer, app.js, or any file that is imported in your Ember app:

[code]

Then whenever you want to "update" your page you can call this global method.

[code]

The `reconcile` function does 3 things:
1. Any placeholder elements that remain from the previous render will get a chance to

[2017-09-05 21:49] RecoX commented on #45
@mitchlloyd Cmon man, accept the PR of this @acorncom , its painful see that error :(

[2017-09-05 22:56] acorncom commented on #45
@RecoX sadly, there isn't a PR on this yet, it gets a bit tricky in there with Glimmer ...

[2017-09-05 23:02] RecoX commented on #45
@acorncom  Sorry for my ignorance, but can I ask why is it tricky ? I mean, in your comment everything was like almost done, changing the deprecated method with the new one as you said.

[2017-09-06 05:20] acorncom commented on #45
@RecoX if it had actually worked, I would have sent in a PR 😀 Unfortunately, I ran out of time to debug things further at the time, but I was staring down a deeper hole than a simple deprecation fix. If you apply these fixes to your setup, you'll see a number of other errors that are worse 😀

[2017-09-06 12:30] felixibel commented on #41
Hey @mitchlloyd, your `rerendering` branch is great! It's quite useful when not all JS lives within the Ember world. Many thanks for that one!

Are you going to open a PR of your `rerendering` branch? I would love to see it in master, if possible.

[2017-09-06 15:57] mitchlloyd commented on #41
@felixibel Were you able to get this working on a project? If so great to hear! I definitely need to get feedback on this change since I don't have this use case myself.

I opened a PR (#46) with a few todos on it. I'm expecting to have time to tackle this by next week.

[2017-09-06 16:05] mitchlloyd commented on #45
This issue is becoming dire now that `_lookupFactory` has been removed from Ember 2.15. @RecoX could you investigate?

The deprecations guide has [some useful-looking information](https://www.emberjs.com/deprecations/v2.x/#toc_id-container-lookupfactory). Perhaps we just need to use this new `.class` API for something after the switch to `factoryFor` (first time I've seen that). Also that guide me

[2017-09-07 18:14] sigmer commented on #41
@mitchlloyd This is working in my project.  Very excited for this change!  I can confirm components are rendered/destroyed when the placeholder divs are added/removed from the page.

I'm not currently dynamically modifying the data-attrs on the div, but that is a cool idea and definitely useful.

Thanks for this!!

[2017-09-10 01:26] #45 closed

[2017-09-10 18:18] mitchlloyd commented on #41
Published as 1.3.0

[2017-09-10 18:18] #41 closed

[2017-09-10 18:18] mitchlloyd commented on #45
Published in 1.3.0

[2017-09-21 16:59] bvoelker opened #47 "Inside an existing single page app"
We are looking at integrating parts of an ember app into a react app. Is that something you saw as possible?

[2017-09-26 20:33] mitchlloyd commented on #47
This is definitely possible. Whether this is the right set of trade-offs for your situation is a complicated and difficult question. Seams between frameworks tend to be a big source of maintenance pain usually more as a result of dependency management than any technical issues stitching them together.

As to whether ember-islands can help with an approach like this: it _could_ by rendering placeho

[2017-10-09 15:43] #47 closed

[2017-11-11 05:21] erichonkanen opened #49 "Is it possible to emulate server-rendered island within an ember route?"
Hey so I just discovered this addon after working on a project with a very similar implementation and use case and I'm considering doing a spike on switching to use this. However one thing that I don't think will work currently (as I've tried locally using roughly the [same code](https://github.com/mitchlloyd/ember-islands/blob/master/addon/utils/get-render-component.js#L22) is if you try to emula

[2017-11-11 19:02] mitchlloyd commented on #49
Ember [won't let you append components inside of an Ember view](https://github.com/emberjs/ember.js/blob/d0de6ae3a77ab5a5156e62d3be7543302caf8c0f/packages/ember-views/lib/mixins/view_support.js#L207). Seems like a reasonable assertion.

Just put some HTML somewhere on the page that's outside of your Ember app for testing. This repo has some [examples of this in the acceptance tests](https://github

[2017-11-21 15:46] #49 closed

[2017-11-21 21:55] cdeszaq commented on #30
I would _love_ to see this supported. Let me lay out the use-case we're looking to solve, and what might make sense as an alternative solution to how #28 looked at it, and hopefully that will spark some ideas.

Background
------------
We have a large server-rendered page-based web application. There's more and more demand for more interaction and lower latency and so we're looking to move to Ember

[2017-11-21 22:26] swgamerx opened #50 "router.js cannot have a route defined as '/' if setting locationType to 'none'"
Posting here for future reference for other users.

while setting `locationType: 'none'` into the environment.js file will allow you to use a component as an island on any url route, it will break if you have a route defined as root within router.js such as the following `this.route('home',{path: '/'});`.

[2017-12-12 03:46] mitchlloyd commented on #30
@cdeszaq Thanks for the great write up! I agree that this use case fits with the goal of Ember Islands.

Since #28 the library has changed a little. Ember Islands should not longer attempt to render in Fastboot. At the time of that issue, it would throw an error.

So what if we _did_ want to render something in Fastboot? This seems straightforward to me:

1) Remove jQuery and figure out how to que

[2017-12-12 04:03] mitchlloyd commented on #50
@swgamerx Thanks for following up with this issue. Could you paste the actual error that you were getting?

I don't want to fill the docs with all the things that you _shouldn't do_ (especially if they are just general Ember gotchas), but I'm wondering if some adjustments to the documentation could help.

Current:

To:

Do you think this change would have helped you avoid this problem? Is there so

[2018-01-18 20:50] erichonkanen opened #51 "Reuse/cache ember app across wordpress pages"
When using a pattern like ember-islands, each time the user navigates to a different page on host site that loads some ember components into the server-rendered page, it also means rebooting the entire ember app. Would it be possible to somehow store the entire ember app locally and then use the stored version instead of reloading the whole app each time a user changes pages? just hypothetical

Th

[2018-01-20 19:28] mitchlloyd commented on #51
My understanding of Service Workers is that they are a tool to intercept and cache network requests. The [Motivation](https://w3c.github.io/ServiceWorker/#motivations) part of the spec is a good summary. I'm not aware of a way this could avoid rebooting an Ember app between page loads.

To get to the experience you're looking for I would explore a "turbo links" style approach. By intercepting link

[2018-01-20 19:30] #50 closed

[2018-01-20 19:49] #51 closed

[2019-01-21 14:36] nudded opened #52 "New version was published, no code update?"
I see that 1.4.0 was released, however no new code was pushed here?

[2019-01-26 21:39] mitchlloyd commented on #52
I was one `git push` away from total success :)

Commit 40d932b bumps the version. Thanks for the heads up!

[2019-01-26 21:39] #52 closed

[2019-02-06 18:29] acorncom commented on #39
@mitchlloyd looks like this could probably be closed? The above issue has been fixed

[2019-02-08 03:29] mitchlloyd commented on #39
Tried unskipping, but got the expected on 2.12 (makes sense) and a new error on current release (makes less sense). https://travis-ci.org/mitchlloyd/ember-islands/builds/490369176

I'll change this issue to cover at least getting this test running on the current release and conditionally skip for 2.12.

[2019-02-08 16:03] rwjblue commented on #39
is the failure on current release, maybe the error formats changed?

[2019-04-08 11:19] vinodhrajamuralidharan opened #55 "When we use ^1.4.0 it takes 1.5.0 and in IE 11 it shows forEach error in the library."
- In package.json, if we use ^1.4.0 it takes 1.5.0 and in IE 11 it shows forEach error in the library. But 1.4.0 works fine.

[2019-04-08 13:59] basemj commented on #55
https://github.com/mitchlloyd/ember-islands/commit/961ca4d77b645d1768cfbddf90bd44cfe5d5ba0a#diff-8b7471ed248975f5eb624ebde9297e01R15

[2019-04-08 14:45] acorncom commented on #55
@vinodhrajamuralidharan would you able to send in a PR to fix it?

[2019-04-08 15:15] rwjblue commented on #55
Fix would be something akin to:

[code]

[2019-04-08 18:44] mitchlloyd commented on #55
Does this seem like it would do the trick? https://github.com/mitchlloyd/ember-islands/pull/56

[2019-04-09 00:32] #55 closed

[2019-04-09 00:34] mitchlloyd commented on #55
Published as ember-islands@1.5.1

[2020-01-21 10:19] patric-eberle opened #58 "didReceiveAttrs not called anymore"
Ember 3.13.1
ember-islands 1.5.1

It seems like the initial handling of `didReceiveAttrs` when initializing a component with `factoryFor` has changed (see https://github.com/emberjs/ember.js/issues/17534 ). We run into this problem because a part of our components was relying on this.

To me it looks, like this hook should be called manually now, to preserve the normal component lifecycle. Maybe e

[2020-02-04 05:46] mitchlloyd commented on #58
Thanks for reporting, Patric. If this behavior changed I wonder if there is
some way to apply a fix that wouldn’t potentially break past versions of
ember by invoking didReceiveAttrs twice.

On Tue, Jan 21, 2020 at 2:19 AM Patric Eberle <notifications@github.com>
wrote:

[2020-02-10 09:35] patric-eberle commented on #58
@mitchlloyd true. I'm not that familiar with Ember anymore unfortunately... The only thing that came to my mind is checking the current Ember version? Not very nice, but it would work I guess.

[2020-02-17 23:55] mitchlloyd commented on #58
Maybe @rwjblue could advise a bit? I looks like we could inspect the Ember version to fix this bug (>= 3.2.0) and then [trigger the `didReceiveAttrs` hook](https://github.com/emberjs/ember.js/blob/2cd6e2f6d570d2489322e317adcb52a0756372d3/packages/ember-glimmer/lib/component-managers/curly.ts#L239), but I'm curious if there is a more official way. Perhaps I could use the component manager directly?

[2020-03-04 08:16] Bouke opened #59 "How can I use octane / glimmer components?"
I've been using ember-islands for some time now, with great success. However with the advent of Octane / Glimmer components, I'm not use how to use them with ember-islands. Suppose the following file structure:

[code]

In normal template use, I would invoke it like so:
[code]

However with ember-islands I've tried `input::datetime` and that results in an error in the console: "fullname is require

[2020-03-04 20:13] mitchlloyd commented on #59
I haven’t used Ember Octane yet so I’m behind the curve here. Previously
you could invoke a nested component like this with a slash
“input/datetime”. Does that still work?

This is part of a growing list of items that may necessitate a major change
with how this library invokes components for newer version of Ember.

On Wed, Mar 4, 2020 at 3:16 AM Bouke Haarsma <notifications@github.com>
wrote:

[2020-03-09 14:27] Bouke commented on #59
I couldn't get it to work with a slash (`input/datetime`). There's also no message in the console to aid debugging.

[2020-03-29 15:54] rwjblue commented on #58
Yeah, I think detecting Ember version is the best bet. I don't think we expose the managers themselves (though that is a good idea and would help libs like this to avoid having to care about these specific nuances).

[2020-06-10 09:00] Bouke opened #60 "Input value binding not working"
I'm using Octane (Glimmer) tracked properties. However it seems that the binding is not working. I'm using an `Input` component in my template, which binds the value correctly when not inside an ember-island. However inside the island, the value on the controller is not updated on user input.

[code]

[code]

I'm not entirely sure what's causing this, any help would be appreciated.

Update:

Now t

[2020-06-24 22:09] alexlafroscia commented on #59
I'm working on seeing what I can do to get this working, as it's blocking our ability to migrate to Template Colocation in our applications.

So far, it's been a challenge to get things working with Template Colocation.

Basically, the approach that `ember-islands` takes to calling `create` on the component class does not work, both when the component has and does not have a `.js` file associated.

[2020-06-25 03:22] mitchlloyd commented on #59
Thanks for the notes, @alexlafroscia. I also took a shot at getting glimmer components working back in March. I just [pushed those changes](https://github.com/mitchlloyd/ember-islands/compare/ember-three) and WIP commit for what I had in progress on my computer.

It's been awhile but I think I came to similar conclusions. Since Octane landed, there is no longer a clear seam in Ember for creating c

[2020-06-25 17:58] alexlafroscia commented on #59
The “ember-islands-only” component is an approach that I’m considering as well; that would also make it obvious why there’s a handful of components that can’t be updated to use the new features/patterns.

Another thing I’m considering is whether something like this addon might be a better approach

https://github.com/Ravenstine/ember-custom-elements

It seems like a more “modern” approach using fe

[2021-06-03 18:08] xtagon commented on #58
Is there a solution or workaround for this? Does ember-islands support Ember 3.x?

Thanks in advance 👍